@using IntraVisionTest.Models
@model Purchase

@{
    ViewBag.Title = "Напитки";
}

<div class="col-md-12">
    <table class="table">
        <tr>
            <th class="col-md-2"></th>
            <th class="col-md-3" style=" min-width:130px">
                @Html.DisplayName("Название")
            </th>
            <th class="col-md-1">
                @Html.DisplayName("Цена")
            </th>
            <th class="col-md-2"></th>
            <th class="col-md-3" style=" min-width:250px"></th>
        </tr>

        @foreach (var item in ViewBag.Drinks as List<Drink>)
        {
        <tr>
            <td style="text-align:center">
                @if (item.ImageData != null)
                {
                    <img src="data:image;base64,@System.Convert.ToBase64String(item.ImageData)" height="100" />
                }
            </td>
            <td>
                <h3>@item.Name</h3>

            </td>
            <td>
                <h3>@item.Price.ToString("c")</h3>
            </td>
            <td style="text-align:center">
                @if (item.Count == 0 || item.Count == (Model.Drinks.FirstOrDefault(d => d.Drink == item.Name).Count))
                {
                    <h3>Нет в наличии</h3>
                }
            </td>
            <td>
                @if (item.Count > 0 && (Model.CurrentSum - Model.PurchaseSum) >= item.Price && item.Count > (Model.Drinks.FirstOrDefault(d => d.Drink == item.Name).Count))
                {

                    <a href="@Url.Action("AddDrink",new { drink=item.Name })"><img src="~/Content/addAble.png" alt="+" /></a>
                }
                else
                {
                    <img src="~//Content/addDisable.png" />
                }
                <h1 style="display:inline">@Model.Drinks.FirstOrDefault(d => d.Drink == item.Name).Count</h1>
                @if (Model.Drinks.FirstOrDefault(d => d.Drink == item.Name).Count > 0)
                {
                    <a href="@Url.Action("RemoveDrink",new { drink=item.Name })"><img src="~/Content/removeAble.png" alt="-" /></a>
                }
                else
                {
                    <img src="~/Content/removeDisable.png" />
                }
            </td>

        </tr>
        }

    </table>    
</div>
@section cashbox{
    <div>
        <div class="col-md-10 col-md-offset-1">
            <h4 style="text-align:center">@ViewBag.Complete</h4>
        </div>

        <div class="col-md-10 col-md-offset-1">
            @if (Model.ChangeAble && Model.PurchaseSum > 0)
            {
                <h3 style="text-align:center">@Html.ActionLink("Завершить покупку", "CompletePurchase")</h3>
            }
            else if (Model.CurrentSum == 0)
            {
                <h3 style="text-align:center">Внесите деньги</h3>
            }
            else if (!Model.ChangeAble && Model.PurchaseSum > 0)
            {
                <h3 style="text-align:center">В аппарате нет монеет для сдачи. Обратитесь к менеджеру или измените заказ.</h3>
            }
        </div>
    </div>
}

@section money{
    <div>        
        <table>
            @foreach (var item in ViewBag.Coins as List<Coin>)
            {
                <tr>
                    <td > 
                        @if (item.Able)
                        {
                            if (item.ImageData != null)
                            {
                                <a href="@Url.Action("InsertCoin", new { value = item.Cost })"><img src="data:image;base64,@System.Convert.ToBase64String(item.ImageData)" height="80" style="margin-top:5px;"/></a>
                            }
                            else
                            {
                                <a href="@Url.Action("InsertCoin", new { value = item.Cost })">@item.Cost</a>
                            }
                        }
                        else
                        {
                            if (item.ImageData != null)
                            {
                                <div style="position:relative">
                                    <img src="data:image;base64,@System.Convert.ToBase64String(item.ImageData)" height="80" style="margin-top:5px;" />
                                    <img style="position:absolute;top:0px;left:0px;margin-top:5px;" src="~/Content/cross.png" height="80" />
                                </div>
                            }
                            else
                            {
                                <img src="~/Content/removeDisable.png" height="80" />
                            }
                        }
                    </td>
                </tr>
            }
        </table>
        <div>
            <h4 style="text-align:center">Текущая сумма</h4>
            <h1 style="text-align:center">@Model.CurrentSum.ToString("c")</h1>
            <h4 style="text-align:center">Сумма покупки</h4>
            <h1 style="text-align:center">@Model.PurchaseSum.ToString("c")</h1>
        </div>
    </div>
}
@section turn{
    <a href="@Url.Action("Index", "Admin")"><img src="~/Content/turn.png" alt="-" style="height:50px; width:50px" /></a>
}