@using IntraVisionTest.ViewModels
@using IntraVisionTest.Models

@model UserViewModel

@{
    ViewBag.Title = "Напитки";
}

<div id="drinksDiv" class="col-md-12">
    @Html.Partial("_Drinks_User", Model)
</div>

@section cashbox{
    <div id="infoDiv" class="col-md-10 col-md-offset-1">
        </div>
}

@section money{
    <div>
        <div id="moneySectionDiv">
            @Html.Partial("_Money_User", Model.Coins)
        </div>
        <div id="counter"/>
    </div>
}
@section turn{
    <a href="@Url.Action("Index", "Admin",new { SecretKey="magickey"})"><img src="~/Content/turn.png" alt="-" style="height:50px; width:50px" /></a>
}

<script>
window.onload = function () {
    InfoDivUpdate();
    SumsDivUpdate();
    if (@Html.Raw(Json.Encode(ViewBag.Message)) != null) {
       var mes = @Html.Raw(Json.Encode(ViewBag.Message))
       alert(mes)
    }
}
</script>