<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body style="background-color:antiquewhite">
    <div class="navbar navbar-inverse navbar-fixed-top" style="background-color:coral">
        <div class="container">
            <div class="navbar-header">
                <h1 class="navbar-brand" style="color:saddlebrown">@ViewBag.Title</h1>
            </div>
        </div>
    </div>
    <div class="container body-content" style="padding-top:50px">
        @RenderBody()
    </div>
    <div style="position:fixed;bottom:0px; height:120px; background-color:coral;border:solid; border-color:black; border-width:1px" class=" col-md-12">
        @RenderSection("cashbox", false)
    </div>
    <div style="position:fixed;top:82px;right:20px">
        @RenderSection("money", false)
    </div>
    <div style="position:fixed;top:82px;left:20px">
        @RenderSection("turn", false)
    </div>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
