@using IntraVisionTest.ViewModels
@using IntraVisionTest.Models

@model UserViewModel
@{
    ViewBag.Title = "Адинистрирование";
}
<div>
    <div id="coinsDiv">
        @Html.Partial("_Money_Admin", Model.Coins)
    </div>
    <br />
    <div id="drinksDiv">
        @Html.Partial("_Drinks_Admin", Model.Drinks)
    </div>
    
</div>

@section turn{
    <a href="@Url.Action("Index", "Home")"><img src="~/Content/turn.png" alt="-" style="height:50px; width:50px" /></a>
}


<script>
window.onload = function () {
    if (@Html.Raw(Json.Encode(ViewBag.Message)) != null) {
       var mes = @Html.Raw(Json.Encode(ViewBag.Message))
       alert(mes)
    }
}
</script>